<a href="https://colab.research.google.com/github/FFelisbino/Trabalho/blob/main/Apostila_de_fundamentos_de_python_CODESchool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1- Variáveis e tipo de dados
1.1 Variáveis de texto

In [ ]:
# hashtag na área de código para comentários curtos
''' Aspas triplas para comentários de mais de uma linha '''

In [4]:
# strings
cliente = 'Saulo'
print(cliente)

#verificar qual o tipo de dado foi escolhido automaticamente
type(cliente)

Saulo

str

In [5]:
# número inteiros
idade = 27
print(idade)
type(idade)

27

int

In [6]:
# float = números com casas decimais
altura = 1.75
print(altura)
type(altura)

1.75

float

In [7]:
#Mudando o tipo de original de dado
'''Suponha que você  tem o n° 1.85 tipado como string mas deseja convertê-lo para float'''
n = '1.85'
print(type(n))
n = float(n)
print(type(n))

<class 'str'>
<class 'float'>

In [8]:
'''Transformando valor int em inteiro'''
print(type(idade))
idade = float(idade)
print(type(idade))

<class 'int'>
<class 'float'>

Operadores matemáticos

In [9]:
#soma
soma = 10 + 10
print(soma)

20

In [10]:
#SUBTRAÇÃO
subtracao = 10 - 5
print(subtracao)

5