<a href="https://colab.research.google.com/github/FFelisbino/Trabalho/blob/main/Apostila_de_fundamentos_de_python_CODESchool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1- Variáveis e tipo de dados
1.1 Variáveis de texto

In [ ]:
# hashtag na área de código para comentários curtos
''' Aspas triplas para comentários de mais de uma linha '''

In [ ]:
# strings
cliente = 'Saulo'
print(cliente)

#verificar qual o tipo de dado foi escolhido automaticamente
type(cliente)

Saulo

str

In [ ]:
# número inteiros
idade = 27
print(idade)
type(idade)

27

int

In [ ]:
# float = números com casas decimais
altura = 1.75
print(altura)
type(altura)

1.75

float

In [ ]:
#Mudando o tipo de original de dado
'''Suponha que você  tem o n° 1.85 tipado como string mas deseja convertê-lo para float'''
n = '1.85'
print(type(n))
n = float(n)
print(type(n))

<class 'str'>
<class 'float'>

In [ ]:
'''Transformando valor int em inteiro'''
print(type(idade))
idade = float(idade)
print(type(idade))

<class 'int'>
<class 'float'>

#2 - Operadores matemáticos

In [ ]:
#soma
soma = 10 + 10
print(soma)

20

In [2]:
#SUBTRAÇÃO
subtracao = 10 - 5
print(subtracao)

5

In [3]:
#Multiplicação
multiplicacao = 10 * 10
print(multiplicacao)

100

In [ ]:
#Divisão
divisao = 10 / 2
print(divisao)

In [ ]:
# resto da divisão (%)
resto_divisao = 10 % 3
print(resto_divisao)

In [ ]:
# divisão por inteiro
divisao_inteira = 10 // 3
print(divisao_inteira)

In [ ]:
#potência
potencia = 2 ** 3
print(potencia)

In [ ]:
#calcule a raiz quadrada de 25
raiz = 25 ** (1/2)
print(raiz)

In [ ]:
#raiz cúbica de 27
raiz_cubica = 27 ** (1/3)
print(raiz_cubica)

#3 - Métodos de strings

3.1 Formatação de strings

In [ ]:
'''Imagine que você deseja criar uma variável que recebe a soma de dois números
e exibir o resultado em um texto do tipo:
"A soma dos números é: (resultado da soma)" '''
num1 = 4
num2 = 6
soma = num1 + num2
print(f'A soma dos números é: {soma}')
print(f'A soma dos números {num1} e {num2} é: {soma} ')

In [ ]:
''' Imagine que num1 e num2 sejam fornecidos pelo usuário '''
num1 = float(input('Digite o primeiro número: '))
num2 = float(input('Digite o segundo número: '))
soma = num1 + num2
print(f'A soma dos números é: {soma}')

In [ ]:
email = 'thais.pll@hotmail.com'
print(email[6])
print(email[0:5])
print(email[-1])
print(email[-2])
print(email[0:10:2]) # intervaloinicial:intervalofinal:dedoissemdois
print(email[:-1])
print(email[::-1])

p
thais
m
o
taspl
thais.pll@hotmail.co
moc.liamtoh@llp.siaht

In [ ]:
#fatiando uma string
'''Exiba todos os caracteres da string anterios'''
print(email)
print(email[:])
print(email[0:])
print(email[0:21])

thais.pll@hotmail.com
thais.pll@hotmail.com
thais.pll@hotmail.com
thais.pll@hotmail.com

In [ ]:
# contar a quantidade de elementos de uma estrutura
print(len(email))

21

In [ ]:
#Verificar a existência de um determinado caracter
'''Verificar se a letra h está presente na variável email'''
print('h' in email)
# verificador not in
print('h' not in email)

True
False

Clique duas vezes (ou pressione "Enter") para editar

In [ ]:
# Método Capitalize
nome = 'jefinho'
print(nome)

nome= nome.capitalize()
print(nome)

jefinho
Jefinho

In [ ]:
nome_completo = 'jefinho da silva santos'
print(nome_completo)
nome_completo = nome_completo.capitalize()
print(nome_completo)

nome_completo = nome_completo.title()
print(nome_completo)

jefinho da silva santos
Jefinho da silva santos
Jefinho Da Silva Santos

In [ ]:
#todas as letras em caixa alta
nome_completo = nome_completo.upper()
print(nome_completo)

JEFINHO DA SILVA SANTOS

In [ ]:
#contar quantas vezes o caractere aparece em uma string
email.count('a')

#método que mostra posição de um caractere em uma string
email.find('@')

9

In [ ]:
#método de verificação se a string começa com o caractere ou com a sequência especifica
email.startswith('tha')

#método de verificação se a string termina com o caractere ou com a sequência especifica
email.endswith('com')

True

In [ ]:
# Método que verifica se o conteúdo da string é ou não é numérico
cpf = '15516715697 '
cpf.isnumeric()

False

In [ ]:
# Método que verifica se o conteúdo da string possui apenas letras
var = 'jefinho'
var.isalpha() #alphabet

True

In [ ]:
# Verificar se o conteúdo é uma combinação de letras ou números
var2 = 'Germano29'
var2.isalnum()

True

In [ ]:
# remover espaços indesejados
nome= ' Steffany '
print(len(nome))
nome = nome.strip()
print(len(nome))

10
8

In [ ]:
nome = 'JefinhX'
print(nome)
nome = nome.replace('X', 'o')
print(nome)

JefinhX
Jefinho

In [ ]:
#recortar uma string
print(nome_completo)
nome_completo = nome_completo.split(' ')
print(nome_completo)

JEFINHO DA SILVA SANTOS
['JEFINHO', 'DA', 'SILVA', 'SANTOS']

In [ ]:
notas = input('Informe as notas separadas por espaços:')
print(notas)
notas = notas.split()
print(notas)

notasn = [float(notas[0]), float(notas[1]), float(notas[2])]
print(notasn)

Informe as notas separadas por espaços: 2 3 4 5 6
2 3 4 5 6
['2', '3', '4', '5', '6']
[2.0, 3.0, 4.0]

#4 - Estrutura de Dados

4.1 - Listas

In [1]:
# lista de nomes
nomes = ['jefinho', 'steffany', 'germano', 'de Paula', 'Fernando P', 'Fernando']
print(nomes)
print(type(nomes))
print(nomes[0])

['jefinho', 'steffany', 'germano', 'de Paula', 'Fernando P', 'Fernando']
<class 'list'>
jefinho

4.1.1 - Inserindo valores em uma lista na última posição

In [11]:
clubes_primeira = ['Fluminense', 'Flamengo', 'Atlético Mineiro', 'São Paulo', 'Botafogo']
print(clubes_primeira)

clubes_primeira.append('Volta Redonda')
print(clubes_primeira)

clubes_primeira.append('Santos')
print(clubes_primeira)

['Fluminense', 'Flamengo', 'Atlético Mineiro', 'São Paulo', 'Botafogo']
['Fluminense', 'Flamengo', 'Atlético Mineiro', 'São Paulo', 'Botafogo', 'Volta Redonda']
['Fluminense', 'Flamengo', 'Atlético Mineiro', 'São Paulo', 'Botafogo', 'Volta Redonda', 'Santos']

4.1.2 - Inserindo valores em uma lista em uma  posição especifica

In [12]:
clubes_primeira.insert(1, 'Palmeiras')
print(clubes_primeira)

['Fluminense', 'Palmeiras', 'Flamengo', 'Atlético Mineiro', 'São Paulo', 'Botafogo', 'Volta Redonda', 'Santos']

In [13]:
#subtituir Palmeiras por Corinthians
clubes_primeira[1] = 'Corinthians'
print(clubes_primeira)

['Fluminense', 'Corinthians', 'Flamengo', 'Atlético Mineiro', 'São Paulo', 'Botafogo', 'Volta Redonda', 'Santos']

In [14]:
#Retirar Volta Redonda da lista
clubes_primeira.pop(6)
print(clubes_primeira)

['Fluminense', 'Corinthians', 'Flamengo', 'Atlético Mineiro', 'São Paulo', 'Botafogo', 'Santos']

In [16]:
# Eliminar São Paulo da lista
clubes_primeira.remove('São Paulo')
print(clubes_primeira)

['Fluminense', 'Corinthians', 'Flamengo', 'Atlético Mineiro', 'Botafogo', 'Santos']

#4.2 - Tuplas

In [17]:
clubes = ('Timão', 'Galo', 'Inter')
print(type(clubes))

<class 'tuple'>

In [18]:
print(type(clubes_primeira))
#Tuplas x Listas: TUPLAS SÃO IMUNTAVEIS E AS LISTAS SÃO MUTÁVEIS

<class 'list'>

In [19]:
clubes_primeira = tuple(clubes_primeira)
print(type(clubes_primeira))

<class 'tuple'>

In [20]:
clubes = list(clubes)
print(type(clubes))

<class 'list'>

#5 - Estrutura de controle de Fluxo

5.1 - IF ELIF ELSE

In [22]:
'''Imagine que você deseja criar um script que receba duas notas do usuario,
calcule a média e caso a média seja maior ou igual a 6 exiba a mensagem aprovado,
caso contrário você ainda não foi aprovado, tente novamente
'''
nota1 = float(input('Digite uma nota de 0 a 10:'))
nota2 = float(input('Digite uma nota de 0 a 10:'))

media = (nota1 + nota2) / 2
if media >= 6:
   print(f'A média foi {media:.2f} e você está aprovado!')
else:
  print(f'A média foi {media:.2f} e você está reprovado! Tente novamente.')

Digite uma nota de 0 a 10:4
Digite uma nota de 0 a 10:5
A média foi 4.50 e você está reprovado! Tente novamente.

In [23]:
'''
Imagina agora que você tem uma situação intermediária entre aprovado e reprovado.
Caso a nota seja menor que 6 , maior ou igual a 4, você poderá fazer a recuperação.
Caso a nota seja menor que 4, você estará automaticamente reprovado
'''
nota1 = float(input('Digite uma nota de 0 a 10:'))
nota2 = float(input('Digite uma nota de 0 a 10:'))

media = (nota1 + nota2) / 2
media = (nota1 + nota2) / 2
if media >= 6:
   print(f'A média foi {media:.2f} e você está aprovado!')
elif media >= 4:
  print(f'A média foi {media:.2f} e você está recuperação')
else:
  print(f'A média foi {media:.2f} e você está reprovado!')

Digite uma nota de 0 a 10:5
Digite uma nota de 0 a 10:4
A média foi 4.50 e você está recuperação

#5.2 - For

In [42]:
nomes = ['Leandro', 'Wesley', 'Camila', 'Sammy', 'Lauane', 'Jefinho', 'Felisbino', 'Saulo', 'Steffany', 'Maria', 'Thais', '']
for i in nomes:
  print(i)

Leandro
Wesley
Camila
Sammy
Lauane
Jefinho
Felisbino
Saulo
Steffany
Maria
Thais

In [44]:
for i in range(11):
  print(nomes[i])

Leandro
Wesley
Camila
Sammy
Lauane
Jefinho
Felisbino
Saulo
Steffany
Maria
Thais

In [46]:
pesos = [50, 45, 56, 90, 50 ,60, 70, 55, 65, 49, 55, 56]
alturas = [1.83, 1.74, 1.66, 1,60, 1.83, 1.72, 1.82, 1.70, 1.60, 1,58, 1.65, ]

#print  do nome e imc separadamente

for i in range(len(nomes)):
  print(f'{nomes[i]} tem IMC {pesos[i]/alturas[i]**2:.2f}')

Leandro tem IMC 14.93
Wesley tem IMC 14.86
Camila tem IMC 20.32
Sammy tem IMC 90.00
Lauane tem IMC 0.01
Jefinho tem IMC 17.92
Felisbino tem IMC 23.66
Saulo tem IMC 16.60
Steffany tem IMC 22.49
Maria tem IMC 19.14
Thais tem IMC 55.00
 tem IMC 0.02

#5.3 - While

In [47]:
''' Você deseja receber n notas de usuário para calculo da média e n é o número variável '''

n = int(input('Informe a quantidade de avaliações para o cálculo da média:'))
i = 0
notas = []

while i < n:
  notas.append(float(input(f'Informe a {i + 1}ª nota:')))
  i += 1

media = sum(notas)/len(notas)
if media >= 6:
   print(f'A média foi {media:.2f} e você está aprovado!')
elif media >= 4:
  print(f'A média foi {media:.2f} e você está recuperação')
else:
  print(f'A média foi {media:.2f} e você está reprovado, tente novamente!')

Informe a quantidade de avaliações para o cálculo da média:4
Informe a 1ª nota:5
Informe a 2ª nota:8
Informe a 3ª nota:3
Informe a 4ª nota:9
A média foi 6.25 e você está aprovado!